// Frameworks:
@import '~bootstrap/scss/bootstrap';
// Utilities:
@import '~@fortawesome/fontawesome-free/css/all.css';
// Fonts:
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;400;600;800&display=swap');

// Reset:

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}