// COLORS

// Background colors :
$darkBlueBg: #1f1e38;
$darkerFluoGreen: #39FFBF;
$fluoGreen: #35FFBF;
$fluoRed: #F81D39;
$greyBg: #666585;
$blueBg: #527CEB;

// Text colors :
$whiteText: #ffffff;
$darkerWhite: #FFFFFFB3;
$greyText: #818A91;