// COLORS
// Background colors :
$darkBlueBg: #1f1e38;
$darkerFluoGreen: #39FFBF;
$fluoGreen: #35FFBF;
$fluoRed: #F81D39;
// Text colors :
$whiteText: #ffffff;
$darkerWhite: #FFFFFFB3;
$greyText: #818A91;
// Fill colors :
// Border colors :